{% extends "list/base.html" %}

{% block extracontent %}

    <table class="table">
        <tr>
            <th>List</th>
            <th>Count</th>
            <th>&nbsp;</th>
        </tr>
        {% for data_standard in data_standards %}
            <tr>
                <td>{{ data_standard['data_standard'] }}</td>
                <td>{{ data_standard['count'] }}</td>
                <td><a href="/data-standard/{{ data_standard['data_standard']}}/list/{{ list['id'] }}" class="btn btn-primary">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
