{% extends "base.html" %}

{% block title %}{{ list['title_en_s'] }} ID {{ ids[0]['id_s'] }}{% endblock %}

{% block pagetitle %}{{ list['title_en_s'] }} ID {{ ids[0]['id_s'] }}{% endblock %}

{% block content %}


    <table class="table">
        <tr>
            <th>data_standard</th>
            <th>name</th>
            <th>scraper</th>
            <th>url</th>
            <th>DEBUG</th>
        </tr>
        {% for id in ids %}
            <tr>
                <td>{{ id['datastandard_s'] }}</td>
                <td>{{ id['name_s'] }}</td>
                <td>{{ id['scraper_s'] }}</td>
                <td>{{ id['url_s'] }}</td>
                <td>{{ id }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
