{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block pagetitle %}Welcome{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <ul>
        <li><a href="/list" class="btn btn-primary">Browse Lists</a></li>
        <li><a href="/data-standard/iati" class="btn btn-primary">IATI</a></li>
        <li><a href="/data-standard/ocds" class="btn btn-primary">OCDS</a></li>
        <li><a href="/data-standard/threesixtygiving" class="btn btn-primary">Three Sixty Giving</a></li>
        <li><a href="/data-standard/indigo" class="btn btn-primary">INDIGO</a></li>
    </ul>
{% endblock %}


