{% extends "base.html" %}

{% block title %}Lists{% endblock %}

{% block pagetitle %}Lists{% endblock %}


{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Lists</li>
        </ol>
    </nav>
{% endblock %}


{% block content %}

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>
        {% for list in lists %}
            <tr>
                <td>{{ list['id'] }}</td>
                <td>{{ list['field_title_en'] }}</td>
                <td><a href="/list/{{ list['id'] }}" class="btn btn-primary">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

