{% extends "base.html" %}

{% block title %}{{ data_standard }} - {{ list['field_title_en'] }}{% endblock %}

{% block pagetitle %}{{ data_standard }} - {{ list['field_title_en'] }}{% endblock %}

{% block content %}


<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="/data-standard/{{ data_standard }}/list/{{ list['id'] }}">View</a></li>
    <li class="nav-item"><a class="nav-link"  href="/data-standard/{{ data_standard }}/list/{{ list['id'] }}/id">Ids</a></li>
</ul>

{% block extracontent %}


{% endblock %}

{% endblock %}


