{% extends "data_standard/list/base.html" %}

{% block extracontent %}

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Count</th>
            <th>&nbsp;</th>
        </tr>
        {% for id in ids %}
            <tr>
                <td>{{ id['id'] }}</td>
                <td>{{ id['count'] }}</td>
                <td><a href="/list/{{ list['id'] }}/id/{{ id['id'] }}" class="btn btn-primary">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
